.card {
    overflow: hidden;
    position: relative;
}



.cardImage {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.7s ease-in-out;
}

.cardOverlay {
    height: 100%;
    width: 100%;
    background: transparent;
    translate: 0 80%;
    transition: all 0.3s ease-in-out;
}



.hovered {
    background: rgba(0, 0, 0, 0.3);
    translate: 0 0;
    padding-top: 10%;
}


.cardImage.zoomed {
    transform: scale(1.1);
}